#myPic {
    width: 200px;
    height: 200px;
}





/* Header for All Pages */
header {
    position: relative;
    top: 0;
    left: 0;
    background-color: white;
    border-color: #cccccc;
    height: 100px;
    width: 100%;
}
#nav {
    float: right;
    position: fixed;
    top: 10px;
    right: 0;
}

#nav li {
    display: inline;
    padding: 10px;
    vertical-align: middle;
    color: gray;
}

a {
    text-decoration: none;
}

a:visited {
    color: gray;
}

.header-name {
    position: absolute;
    bottom: 0;
    left: 100px;
    color: white;
    background-color: #4aaaa5;
    width: 200px;
    text-align: center;
}
h1 {
    font-family: "Georgia", Times, "Times New Roman", serif;
}




/* About Me Page*/

#about-me {
    clear: auto;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    /* margin: auto; */
    width: 960px;
}

#about-me-title {
    color: #4aaaa5;
    border-bottom-style: solid;
    margin: 5px;
    padding: 5px;
    border-color: gainsboro;

}
body {
    background-color: lightgray;
    margin: -22px 0 0 0;
}

#about-me {
    background-color: #ffffff;
}

.margins {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}


/* All Pages Footer*/
footer {
    position: absolute;
    bottom: 0;
    background-color: #666666;
    width: 100%;
    height: 50px;
    text-align: center;
    border-top-style: solid;
    border-color: #4aaaa5;
    margin-top: 50px;
}


/* Contact Form */
#contact-form {
    margin-top: 20px;
    background-color: white;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    color: gray;
}

#contact-title {
    border-bottom-style: solid;
    color: #4aaaa5;
    margin: 5px;
    padding: 5px;
    border-color: gainsboro;
}

#input-name {
    width: 99%;
    height: 25px;
    margin: auto;
    padding: auto;
    border: 1px solid gray;
    /* border-color: gray; */
}

#input-email {
    width: 99%;
    height: 25px;
    margin: auto;
    padding: auto;
}

#input-message {
    width: 99%;
    height: 150px;
    margin: auto;
    padding: auto;
}

/* Portfolio Page */

#hangmanpic {
    width: 200px;
    height: 200px;
}